{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Magic Bowl</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{% static 'bowls/css/bootstrap.css' %}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{% static 'bowls/css/main.css' %}">

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
   <div class="modal fade bs-modal-lg" id="recipe" tabindex="-1" role="dialog" aria-labelledby="{{ recipe.name }}" aria-hidden="true">
  <div class="modal-dialog bs-modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
            {% comment %}move this processing to view{% endcomment %}
            {% if bowl %}
                {% for recipe in bowl %}
                      {{ recipe.name }}{% if forloop.counter == 3 %}, and
                      {% elif forloop.counter == 1 or forloop.counter == 2 %},
                      {% endif %}
                {% endfor %}
            {% else %}
                Nothing here!
            {% endif %}
        </h4>
      </div>
      <div class="modal-body">
        {% if bowl %}
            {% for recipe in bowl %}
                <h5>{{ recipe.name }}</h5>
                <ul>
                    {% for ingredient in recipe.recipe_ingredient_set.all %}
                        <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
                <p>{{ recipe.preparation }}</p>
                {% if recipe.source %}
                    <p class="small">Source: {{ recipe.source }}</p>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No recipes could be found with these criteria. If you want a random bowl, click "Surprise Me!".</p>
        {% endif %}
      </div>
      <div class="modal-footer">
        <p class="small">Printable version coming soon.</p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Print</button>-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
       
        
<div class="jumbotron">
      <div class="container">
        <h1 class="text-center">Magic Bowl</h1>
        <h1 class="text-center"><span class="glyphicon glyphicon-cutlery"></span></h1>
        <p class="text-center">Randomly generated easy dinners.</p>
      </div>
    </div>

    <div class="container">
        <form role="form" action="/" method="post">
         {% csrf_token %} 
        <div class="row">
          <div class="col-md-4 text-center"><h2 class="btn btn-primary btn-lg" id="use">Clearing the Pantry</h2></div>
          <div class="col-md-4 text-center"><h2 class="btn btn-primary btn-lg" id="dontuse">Goin' Shopping<h2></div>
          <div class="col-md-4 text-center"><input type="submit" name="surprise" value="Surprise Me!" class="btn btn-primary btn-lg" id="random"></div>
        </div>
        <div class="form-group">
            <div class="row">
                <div id="use-label" class="hidden"><h2><label for="use">What I have on hand:</label></h2></div>
                <div id="dontuse-label" class="hidden"><h2><label for="dontuse">Please do not include:</label></h2></div>
            </div>
            <div id="ingredient-list" class="hidden">
            <div class="row">
            {% for ingredient in ingredients %}
                <div class="col-xs-4">
                    <div class="checkbox">
                        <label><input type="checkbox" name="use" value="{{ ingredient.name }}">{{ ingredient.name }}</label>
                    </div>
                </div>
            {% if not forloop.last %}
              {% if forloop.counter|divisibleby:3 %}
            </div><!--row -->
            <div class="row">
              {% endif %}
            {% endif %}
            {% endfor %}
            </div><!--row -->
            </div><!-- ingredient-list -->
        </div><!--form group-->
        <div class="form-group hidden" id="cuisine-form">
        <div class="row">
            <div><h2>I'm in the mood for:</h2></div>
        </div>
        <div class="row">
            {% for cuisine in cuisines %}
                <div class="col-xs-4">
                    <div class="radio">
                        <label><input type="radio" name="cuisine" id="dont-{{ cuisine.name }}" value="{{ cuisine.name }}">{{ cuisine.get_name_display }}</label>
                    </div>
                </div>
            {% if not forloop.last %}
              {% if forloop.counter|divisibleby:3 %}
            </div><!--row -->
            <div class="row">
              {% endif %}
            {% endif %}
            {% endfor %}
        </div><!--row -->
        </div><!--formclass-->
        <div class="row">
         <!--data-toggle="modal" data-target="#recipe"-->
            <p class="text-center hidden" id="submitbutton"><input type="submit" class="btn btn-primary btn-lg" value="Pack me a bowl!"></p>
        </div>
        </form>
      <hr>

      <footer>
        <p>&copy; Difficult Panthers 2014</p>
        <p>Amelia Theme by <a href="http://bootswatch.com/">Thomas Park</a></p>
      </footer>
  

    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% autoescape off %}{% static 'bowls/js/vendor/jquery-1.10.1.min.js' %}{% endautoescape %}">')</script>
        <script src="{% static 'bowls/js/vendor/bootstrap.min.js' %}"></script>

        <script src="{% static 'bowls/js/main.js' %}"></script>
            
        {% if submitted %}
        <script>   
            $('#recipe').modal('toggle');
        </script>
        {% endif %} 
               
        <script>
    
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        

    </body>
</html>
