{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Magic Bowl</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{% static 'bowls/css/bootstrap.css' %}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{% static 'bowls/css/main.css' %}">

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
   <div class="modal fade bs-modal-lg" id="recipe" tabindex="-1" role="dialog" aria-labelledby="{{ recipe.name }}" aria-hidden="true">
  <div class="modal-dialog bs-modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Rice with Black Beans, Sweet Potatoes, and Pico de Gallo</h4>
      </div>
      <div class="modal-body">
        <h5>Rice</h5>
        <ul>
            <li>1 cup white rice</li>
            <li>2 tsp salt</li>
        </ul>
        <p>Cook the rice.</p>
        <h5>Black beans</h5>
        <ul>
            <li>1 cup black beans</li>
            <li>2 tsp salt</li>
        </ul>
        <p>Cook the beans.</p>
        <h5>Sweet potatoes</h5>
        <ul>
            <li>1 cup white rice</li>
            <li>2 tsp salt</li>
        </ul>
        <p>Cook the sweet potatoes.</p>
        <h5>Pico de Gallo</h5>
        <ul>
            <li>1 1/2 c chopped tomato</li>
            <li>1/2 cup white onion, diced</li>
            <li>1 tsp garlic, minced</li>
            <li>1 tsp jalapeno, seeded and diced</li>
            <li>1/2 c chopped cilantro (or parsley)</li>
            <li>2 tbsp lime juice</li>
        </ul>
        <p>Combine tomatoes, onion, garlic, and jalapenos to taste. Add cilantro (or parsley if using). Squeeze in lime juice. Season with salt and pepper. Tastes better if you let the flavors mingle for a while before serving.</p>
      </div>
      <div class="modal-footer">
        <p class="small">Printable version coming soon.</p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Print</button>-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
        
        
<div class="jumbotron">
      <div class="container">
        <h1 class="text-center">Magic Bowl</h1>
        <h1 class="text-center"><span class="glyphicon glyphicon-cutlery"></span></h1>
        <p class="text-center">Randomly generated easy dinners.</p>
      </div>
    </div>

    <div class="container">
        <form role="form">
        <div class="row">
          <div class="col-md-4 text-center"><h2 class="btn btn-primary btn-lg" id="use">Clearing the Pantry</h2></div>
          <div class="col-md-4 text-center"><h2 class="btn btn-primary btn-lg" id="dontuse">Goin' Shopping<h2></div>
          <div class="col-md-4 text-center"><h2 class="btn btn-primary btn-lg" id="random" data-toggle="modal" data-target="#recipe">Surprise Me!<h2></div>
        </div>
        <div class="form-group hidden" id="use-form">
        <div class="row">
            <div><h2><label for="use">What I have on hand:</label></h2></div>
        </div>
        <div class="row">
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="use" value="salad">Salad greens</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="use" value="rice">Rice</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="use" value="quinoa">Quinoa</label></div></div>
          </div>
          <div class="row">
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="use" value="barley">Barley</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
              <label><input type="checkbox" name="use" value="rice">Rice noodles</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
              <label><input type="checkbox" name="use" value="macaroni">Macaroni</label></div></div>
        </div>
        <div class="row">
          <div class="col-xs-4"><div class="checkbox">
              <label><input type="checkbox" name="use" value="farro">Farro</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
              <label><input type="checkbox" name="use" value="wheatberries">Wheatberries</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
              <label><input type="checkbox" name="use" value="millet">Millet</label></div></div>
         </div>
         <div class="row">
          <div class="col-xs-4"><div class="checkbox">
              <label><input type="checkbox" name="use" value="tofu">Tofu</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
              <label><input type="checkbox" name="use" value="bep">Black-eyed peas</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
              <label><input type="checkbox" name="use" value="soycurls">Soy curls</label></div></div>
        </div>
        <div class="row">
          <div class="col-xs-4"><div class="checkbox">
              <label><input type="checkbox" name="use" value="tempeh">Tempeh</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
              <label><input type="checkbox" name="use" value="blackbeans">Black beans</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
              <label><input type="checkbox" name="use" value="chickpeas">Chickpeas</label></div></div>
         </div>
         <div class="row">
          <div class="col-xs-4"><div class="checkbox">
              <label><input type="checkbox" name="use" value="greens">Kale or Chard</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
              <label><input type="checkbox" name="use" value="spinach">Spinach</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
              <label><input type="checkbox" name="use" value="carrots">Carrots</label></div></div>
        </div>
        <div class="row">
          <div class="col-xs-4"><div class="checkbox">
              <label><input type="checkbox" name="use" value="cauli">Cauliflower or Broccoli</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
              <label><input type="checkbox" name="use" value="cabbage">Cabbage</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
              <label><input type="checkbox" name="use" value="mushrooms">Mushrooms</label></div></div>
          </div>
          <div class="row">
          <div class="col-xs-4"><div class="checkbox">
              <label><input type="checkbox" name="use" value="tomato">Tomatos</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
              <label><input type="checkbox" name="use" value="greenbeans">Green beans</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
              <label><input type="checkbox" name="use" value="sweetpotato">Sweet Potatoes</label></div></div>
        </div>
        </div><!--form group-->
        <div class="form-group hidden" id="dontuse-form">
        <div class="row">
            <div><h2>Please do not include:</h2></div>
        </div>
        <div class="row">
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="dontuse" value="salad">Salad greens</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="dontuse" value="rice">Rice</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="dontuse" value="quinoa">Quinoa</label></div></div>
        </div>
        <div class="row">
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="dontuse" value="barley">Barley</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="dontuse" value="rice">Rice noodles</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="dontuse" value="macaroni">Macaroni</label></div></div>
        </div>
        <div class="row">
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="dontuse" value="farro">Farro</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="dontuse" value="wheatberries">Wheatberries</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="dontuse" value="millet">Millet</label></div></div>
        </div>
        <div class="row">
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="dontuse" value="tofu">Tofu</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="dontuse" value="bep">Black-eyed peas</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="dontuse" value="soycurls">Soy curls</label></div></div>
        </div>
        <div class="row">
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="dontuse" value="tempeh">Tempeh</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="dontuse" value="blackbeans">Black beans</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="dontuse" value="chickpeas">Chickpeas</label></div></div>
        </div>
        <div class="row">
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="dontuse" value="greens">Kale or Chard</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="dontuse" value="spinach">Spinach</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="dontuse" value="carrots">Carrots</label></div></div>
        </div>
        <div class="row">
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="dontuse" value="cauli">Cauliflower or Broccoli</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="dontuse" value="cabbage">Cabbage</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="dontuse" value="mushrooms">Mushrooms</label></div></div>
        </div>
        <div class="row">
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="dontuse" value="tomato">Tomatos</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="dontuse" value="greenbeans">Green beans</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="dontuse" value="sweetpotato">Sweet Potatoes</label></div></div>
        </div>
        </div><!--formgroup-->
        <div class="form-group hidden" id="cuisine-form">
        <div class="row">
            <div><h2>I'm in the mood for:</h2></div>
        </div>
        
        <div class="row">
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="cuisine" value="SOUTHERN">Southern</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="cuisine" value="ASIAN">East Asian</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="cuisine" value="INDIAN">Indian</label></div></div>
          </div>
          <div class="row">
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="cuisine" value="LATIN">Latin</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="cuisine" value="AMERICAN">American</label></div></div>
          <div class="col-xs-4"><div class="checkbox">
            <label><input type="checkbox" name="cuisine" value="FUSION">Fusion</label></div></div>
        </div>
        </div><!--formclass-->
        <div class="row">
          <p class="text-center hidden" id="submitbutton" data-toggle="modal" data-target="#recipe"><button type="submit" class="btn btn-primary btn-lg">Pack me a bowl!</button></p> 
        </div>
        </form>
      <hr>

      <footer>
        <p>&copy; Difficult Panthers 2014</p>
      </footer>
  

    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% autoescape off %}{% static 'bowls/js/vendor/jquery-1.10.1.min.js' %}{% endautoescape %}">')</script>
        <script src="{% static 'bowls/js/vendor/bootstrap.min.js' %}"></script>

        <script src="{% static 'bowls/js/main.js' %}"></script>
{% comment %}
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
{% endcomment %}
    </body>
</html>
